* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  margin-bottom: 4rem;
}

.operations {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  width: 40%;
}

.operations__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.operations__item a {
  text-decoration: none;
  color: #272042;
}

.operations__item--active a {
  color: #f7c531;
  font-weight: 500;
  position: relative;
}

.operations__item--active a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f7c531;
  margin-top: 10px;
}

.operations__item a:hover {
  color: #f7c531;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-image {
  width: 150px;
  position: relative;
}

.profile-image::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 101%;
  height: 101%;
  background-color: #d8cbf6;
  border-radius: 50%;
}

.profile-info {
  margin-top: 2.6rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.profile-info h1 {
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 0;
}

.profile-info p {
  font-size: 2rem;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about {
  width: 50%;
  line-height: 2.8rem;
}

.about-content-paragraph {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.about-content-star {
  font-size: 2.4rem;
  color: #f7c531;
  margin-bottom: 2rem;
}

.about-content-profile {
  display: flex;
  align-items: center;
  position: relative;
}

.about-student {
  font-size: 1.6rem;
  font-weight: 500;
}
