@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Quicksand:wght@400;500;700&display=swap');

*{
    font-family: "Quicksand";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* width: 1140 px; */
    margin: 0 ;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

 /* .text-hero{
    max-width: 900px;
    margin: auto;
}  */

h1.text-hero{
    font-size: 46px;
    font-weight: 700px;
    color: #272042;
}

.text-hero p{
    margin-top: 24px;
    color: #8B8BA5;
    font-size: 20px;
    width: 60%;
}

.text-hero a{
    font-size: 20px;
    color: #F7C531;
}

.control-label {
    margin-top: 24px;
    font-size: 16px;
    color: #8B8BA5;
    font-weight: 400px;
}

/* .form{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center; 
}*/

.form-control{
    width: 50%;
    padding: 10px 18px;
    margin: 7px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: #FBFBFB;
    border: 2px solid #F0F0F0;
    font-size: 14px;
    
}

button.secondary{
    width: 50%;
    margin: 24px 0;
    background-color: #F7C531;
    padding: 10px 40px;
    border: none;
    /* border-radius: 70px; */
    color: #272042;
    font-size: 18px;
    font-weight: medium;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
.text-or {
    font-size: 16px;
    color: #8B8BA5;
    font-weight: 400px;
    text-align: center;
}

.btn-google{
    width: 50%;
    margin: 24px 0;
    background-color: #FBFBFB;
    padding: 10px 40px;
    border: none;
    /* border-radius: 70px; */
    color: #A9A9A9;
    font-size: 18px;
    font-weight: medium;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-size: 18px;
}

.btn-fb{
    width: 50%;
    background-color: #FBFBFB;
    padding: 10px 40px;
    border: none;
    /* border-radius: 70px; */
    color: #A9A9A9;
    font-size: 18px;
    font-weight: medium;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-size: 18px;
}



/* Register page */
.register{
    margin: 100px auto;
    width: 700px;
    padding: 10px;
    text-align: center;
}
.register h1{
    font-size: 46px;
    font-weight: 700px;
    color: #272042;
    margin-bottom: 30px;
}


