@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Quicksand:wght@400;500;700&display=swap');

*{
    font-family: "Quicksand";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.nav-bar {
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(6, auto);
}

a {
    cursor: pointer;
}

.nav-item {
    text-decoration: none;
    margin-right: 1rem;
    padding: 10px;
}

.nav-item:hover {
    border-bottom: 5px solid black;
}

.active {
    font-weight: 700;
    color: black;
}

.btn-me {

    text-decoration: none;
    border-radius: 32px 32px 15px 15px;
    background: #FBE0DC;
    padding: 13px 50px;
    font-weight: bold;
    color: #272042;
}


.container{
    /* width: 1140 px; */
    margin: 0 ;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

 /* .text-hero{
    max-width: 900px;
    margin: auto;
}  */

h1.text-hero{
    width: 350px;
    height: 140px;
    left: 243px;
    top: 250px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 70px;
    /* or 152% */
    
    color: #272042;
}

.text-hero p{
    width: 376px;
    height: 68px;
    left: 243px;
    top: 400px;
    margin-top: 24px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    
    color: #8B8BA5;
}


.text-hero a{
    font-size: 20px;
    color: #F7C531;
}

.control-label {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 20px;
    color: #8B8BA5;
    
}

/* .form{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center; 
}*/

.form-control{
    box-sizing: border-box;
    width: 320px;
    height: 45px;
    left: 864px;
    top: 228px;
    margin: 7px 0;
    background: #FBFBFB;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    
}

button.secondary{
    width: 314px;
    height: 50px;
    margin: 24px 0;
    background-color: #F7C531;
    padding: 10px 40px;
    border: none;
    /* border-radius: 70px; */
    color: #272042;
    font-size: 18px;
    font-weight: medium;
    border-radius: 40px 40px 20px 20px;
    text-align: center;
}
.text-or {
    font-size: 16px;
    color: #8B8BA5;
    font-weight: 400px;
    text-align: center;
}

.btn-google{
    width: 314px;
    height: 50px;
    margin: 24px 0;
    background-color: #FBFBFB;
    padding: 10px 40px;
    border: none;
    /* border-radius: 70px; */
    color: #A9A9A9;
    font-size: 18px;
    font-weight: medium;
    border-radius: 40px 40px 20px 20px;
    text-align: center;
    font-size: 18px;
}

.btn-fb{
    width: 314px;
    height: 50px;
    background-color: #FBFBFB;
    padding: 10px 40px;
    border: none;
    /* border-radius: 70px; */
    color: #A9A9A9;
    font-size: 18px;
    font-weight: medium;
    border-radius: 40px 40px 20px 20px;
    font-size: 18px;
    
}



/* Register page */
.register{
    margin: 100px auto;
    width: 700px;
    padding: 10px;
    text-align: center;

}
.register h1{
    font-size: 46px;
    font-weight: 700px;
    color: #272042;
    margin-bottom: 30px;
}
.rectangle{
    margin-top: -10px;
    margin-left: 28%;

    width: 229px;
    height: 8px;
    left: 566px;
    top: 248px;
    
    background: #FBE0DC;
    border-radius: 100px;
}

/* .rectangle2{
    margin: -10;
    width: 97px;
    height: 8px;
    left: 242px;
    top: 298px;

    background: #FBE0DC;
    border-radius: 100px;
} */

/* footer */
.footer {
    display: grid;
    line-height: 30px;
}
footer a {
    color: #8B8BA5;
    text-decoration: none;
}
.footer .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
}
.footer-list {
    display: grid;
}
.footer-title {
    color: black;
}
.footer-address p {
    color: #8B8BA5;
}
.footer-copyright {
    font-weight: bold;
    text-align: center;
    padding: 2rem;
    /* color: #8B8BA5; */
}
