@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Quicksand:wght@400;500;700&display=swap');

*{
    font-family: "Quicksand";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    /* width: 1140 px; */
    margin: 0 ;
    padding: 100px 256px 150px 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

 .text-hero{
    width: 377px;
    height: 306px;
    left: 242px;
    top: 250px;
} 

h1.text-hero{
    width: 350px;
    height: 140px;
    left: 243px;
    top: 250px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 70px;
    /* or 152% */
    
    color: #272042;
}

.text-hero p{
    width: 376px;
    height: 68px;
    left: 243px;
    top: 400px;
    margin-top: 24px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    
    color: #8B8BA5;
}


.text-hero a{
    font-size: 20px;
    color: #F7C531;
}

.control-label {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 20px;
    color: #8B8BA5;
    
}

.form{
    width: 320px;
    height: 455px;
    left: 864px;
    top: 200px;
    padding-left: 100px;
    /* max-width: 600px;
    margin: auto;
    display: flex;
    /* justify-content: center;  */
}

.form-control{
    box-sizing: border-box;
    width: 320px;
    height: 45px;
    left: 864px;
    top: 228px;
    margin: 7px 0;
    background: #FBFBFB;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    
}

button.secondary{
    width: 314px;
    height: 50px;
    margin: 24px 0;
    background-color: #F7C531;
    padding: 10px 40px;
    border: none;
    /* border-radius: 70px; */
    color: #272042;
    font-size: 18px;
    font-weight: bold;
    border-radius: 40px 40px 20px 20px;
    text-align: center;
}
.text-or {
    font-size: 16px;
    color: #8B8BA5;
    font-weight: 400px;
    text-align: center;
}

.btn-google{
    width: 314px;
    height: 50px;
    margin: 24px 0;
    background-color: #FBFBFB;
    padding: 10px 40px;
    border: none;
    /* border-radius: 70px; */
    color: #A9A9A9;
    font-size: 18px;
    font-weight: medium;
    border-radius: 40px 40px 20px 20px;
    text-align: center;
    font-size: 18px;
}

.btn-fb{
    width: 314px;
    height: 50px;
    background-color: #FBFBFB;
    padding: 10px 40px;
    border: none;
    /* border-radius: 70px; */
    color: #A9A9A9;
    font-size: 18px;
    font-weight: medium;
    border-radius: 40px 40px 20px 20px;
    font-size: 18px;
    
}



/* Register page */
.register{
    margin: 100px auto;
    width: 700px;
    padding: 10px;
    text-align: center;

}
.register h1{
    font-size: 46px;
    font-weight: 700px;
    color: #272042;
    margin-bottom: 30px;
}
.rectangle{
    margin-top: -10px;
    margin-left: 28%;

    width: 229px;
    height: 8px;
    left: 566px;
    top: 248px;
    
    background: #FBE0DC;
    border-radius: 100px;
}

/* .rectangle2{
    margin: -10;
    width: 97px;
    height: 8px;
    left: 242px;
    top: 298px;

    background: #FBE0DC;
    border-radius: 100px;
} */

